# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Env
.env

# Electron / Dist
dist/
out/

# Logs
logs/
*.log

# Sistema
.DS_Store
Thumbs.db

# VSCode
.vscode/

# MacOS
*.DS_Store

# Build / Temp
*.tmp
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Tailwind / Output
*.css.map

# Otros archivos de IDE
.idea/
